<!doctype html>
<html>
  <head>
    <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/materialize.min.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery.js" type="text/javascript"></script>
    <script src="../js/materialize.min.js" type="text/javascript"></script>  
    <script src="../js/script.js" type="text/javascript"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper indigo darken-1">
        <a href="/" class="brand-logo"> Fengshui Yo' Life!</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="navlist">Welcome {{email}}!</li>
          <li class="navlist"><a href="/results">Saved Results</a></li>
          <li class="navlist"><a href="/faq">FAQ</a></li>
          <li class="navlist"> <a href="/sessions/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
<div class="container">
     <div class="row inputbox">
      <h1>Questions?</h1>
     </div> 
  <div class="col s12 m7">
    <h2 class="header">Rat</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lh3.googleusercontent.com/Q9nEHLljJXI--yQIhgvhaHDXw7W6nvffhZjdsDzKOMOj82x2SOz3YYUufS_SHwrsP6U7WTRxHnjudUXVWvNcUVyzsAcaM3BJD-eXOBLulD1veBQwyPjDBiFBd4mrYVxB_y881j6M2kGBfkPYxFn6Wux9QFbnmA9dLMcUNml3HmEzMirKXaHa0osL1JlnphBDE-h1-HSEoFP1d5rEyZl3W2tRg3hNs958xmKRNz_WO9EwGRcql30eCEbdplLeRXrfIxmUcut6lImV8pd8IoPdMenedpAQCnrv9bHx831_2ulWlipifgIRrrtuOpbFo3wP8KDgt9rGV1QYljsn7lpWfKhOugDEsi3VGo6EDyB_9WDpWOQhmkcSdgU7twmpbs3qiXlJkgvCyXsgdoYTCklZfwVKnuYLutN3C8dNwy5F5JY4dJgZxws_8HVHa63SHO9qUDbIyJtsLh5vq9QMEiNriaYP_d1IyhSfzi8GtuUzFMUMdS7XZAaxWhJLDmYCE0f-pjf-JsWmLyJCfD3UdXLX4M-DDL02Uc1WGamAX1PveX5Cig7dC16ojvTEuWwGqNxSeX7F-wLl7h3xSZMrSsK3Xmx5Ulbe_wo=w155-h137-no">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Ranking the first in the Chinese zodiac, rat represents wisdom. Personality traits for the people born in the year of the Rat are intelligent, charming, quick-witted, practical, ambitious, and good at economizing as well as social activities. The weaknesses are that the Rats are likely to be timid, stubborn, wordy, greedy, devious, too eager for power and love to gossip.</p>
        </div>
        <div class="card-action">
          <a href="http://www.yourchineseastrology.com/horoscope/rat/">Read More</a>
        </div>
      </div>
    </div>
  </div>
   <div class="col s12 m7">
    <h2 class="header">Ox</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lh3.googleusercontent.com/GWdj3h1NvonarrTngnDQZe8130ye9VYO9iYj5xPTmxm1Zrc6rsEXXGJuvfGclG-d5bahMUb5KjfZ4MenvWqT6jVIhKXAW_wSm8Tr3W5uGElrKfzYsf3681pYZWFOo6FPI4fPF83E666OTui62Tx_DVkotjAlGDatf8TZV6K51e6KD_nvWWShK3bHiHL6cVH9RCLCHjcWu5gEDkltcet31cL3xteVrzea5ZOFZP8KztvpVyITXpyg6lRolFq-ieRJANl6sLFYOnwgr6JEx3KuOvVV5rKogLKPzlhrByfMC3eTOcbk7-EjAuypc0YiS_PVsM_HUEde2aYWUUPhhDSFyKetr3qMTJDzTgwmrPrxys2S7WHYxlQlBq64AQ2VDJWlEVsNhD6HOe_roBBO1SM_4aAQEbBGHz4JIotDUZmWP-pjO_XQyMA73vNFKWylApeJc-54g-l6G8NRe8Dnku192TwDsyxEW6yKjQDMdIn5XnLZVCHSJIHn-H-woUayxAkd2_Qvy1vFdRsULQ9zoy04XTEB76R8EU7O2cHv5hMe7eO8OztI6NNsQaGm8-ntsK6Vh0yr5DIUVuKtStUleeAmJGVL5ZZeT34=w152-h138-no">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Ranking the second in the Chinese zodiac, Ox or Cow is the symbol of diligence in Chinese culture. People under the sign of the Ox are usually hard working, honest, creative, ambitious, cautious, patient and handle things steadily. On the negative side, Ox people might be stubborn, narrow-minded, indifferent, prejudiced, slow and not good at communication.</p>
        </div>
        <div class="card-action">
          <a href="http://www.yourchineseastrology.com/horoscope/ox/">Read More</a>
        </div>
      </div>
    </div>
  </div>
   <div class="col s12 m7">
    <h2 class="header">Tiger</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lh3.googleusercontent.com/melrlRs60bV2NngSmNj5oGShyJ3LrhZTFaacTjgxolYAqNNluo8Eghv_UjcvrDSttMs8KH636rSOzwi0CddR1Ox0KSmqCZyim7x2-aLALQLVzfe1LoPUKY9K6S6rBUVEyOvq9zhAVSeHeOWccLcHOufrge0sLK7aOQgDrSM--hHyEF0Ts5ja06FjsbIsioPvowol717vU2SXdtBSv9JdJ3PgRVTsGL7DXUVcYVcy-w2rE5LqsC6es8C8xNbRi163pxpFqSLhoIVddo9xCFyb74Bkxuwiy-FpWvVYjUAhth6C4B54DL5SRebmZ3cO2ZnlQZUAihigGFvqUiQlniLP5MyOxZa5WTreltTeUQaHRAEhoCRidyugTT1XR4wVnzhXZdQIg8zXbTCexWoSeKZKUrGq9GlX0Ny5WQ_argBMtzPIszRSGKWtZckfT92bp9yupOhRQhUgpjRgWQyGzZLyW90VZxtfFsCyT368A_RN4C9EtMFieaFVdBaUrEsGndslxJsPzdb3iDzaZ22Y4A41VCdoev71rrzWne8-l_QbUOEs6QvWnrdFrUMvzyTvWHtwQ_YW0Rn_y8WV7uVOj4UHq2LsgUTqcEQ=w137-h121-no">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Ranking as the third animal in the Chinese zodiac, Tigers are the symbol of brave. People born in the year of the Tiger are friendly, brave, competitive, charming and endowed with good luck and authority. With indomitable fortitude and great confidence, the tiger people can be competent leaders. On the other side, they are likely to be impetuous, irritable, overindulged and love to boast to others.</p>
        </div>
        <div class="card-action">
          <a href="http://www.yourchineseastrology.com/horoscope/tiger/">Read More</a>
        </div>
      </div>
    </div>
  </div>
   <div class="col s12 m7">
    <h2 class="header">Rabbit</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lh3.googleusercontent.com/aKQt4utzNEb53CCahuOvGVfIqXnyT2-yTP7v7rW4tC590gxZXy6bkL6p_gqxydDvnsLBc27lTHxDQiJEKoAGb4NlV1rkL4h4TnXmrVlPCOCQDFnWgjoii6kWGZfVWnlQrRoMn1Nx2MD8yi0mRK1vm-YdRLMFNJdQaCKlje-ImIVrAsqqzhUFj9pKnQT2aphiU4fDBGCvVSHpK332oRX651WUm2J57BFJHN3WK5bUwduDFkh-n4SSlraYw0JWytV6rCbaelb7jhbnn_6kTOaZ08u_sGDFWRtOIPGZt2af9vMhBAPKLK-Wx5-122Vj2aopPj1jnhcfxswjUarfXegLMn8QF4rjyCjfeJxus_SCAdqbub_1z_jvwrLu7XtUTUEPAYTW_bTV03crq_Ke74HcbNcBbIWce1O2e-R5gO8qDkuC9q5QWz8I0FFV0LasOpMTwRhiJhEEvyOJiKR0eyPViMfIloozJJRq4R6Edhz4wc6TPbw0mEMpUDGsytd_H59o5x8FK1JNVFN-1WwYIxrW3YlMPcQk9-olUJlxEvCP_YzEGf8IQNKoFh_YFz1PJ7c8r4B3EOF406EDoF-qTrlnZMOcZUSCouA=w134-h148-no">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Rabbit represents longevity, discretion and good luck. It has the fourth position in the Chinese Zodiac. People born under the sign of the Rabbit are kind-hearted, friendly, intelligent, cautious, skillful, gentle, quick and live long. They dislike fighting and like to find solutions through compromise and negotiation. On the negative side, Rabbit people have the potential to be superficial, stubborn, melancholy and overly-discreet.</p>
        </div>
        <div class="card-action">
          <a href="http://www.yourchineseastrology.com/horoscope/rabbit/">Read More</a>
        </div>
      </div>
    </div>
  </div>
   <div class="col s12 m7">
    <h2 class="header">Dragon</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lh3.googleusercontent.com/6HM6wr1lWK_dgqAWU_o2SxT-Jdd3YgVL_wrChAibrAsvPXRPwWNq3GbeiSeQa0KhziWKIQSWiu2xRwuuxiPJAwd5cHqv-Ow_zg3rN4BgQgDm6Q34zDfpoQNvtOSsv5z46V2T_VCZttNP3k7tKO3BV4N9dq-T24ZFXR5I-p0qQpA-ScBM8m6ZkSsIV1wDWfxn6urmzFn53bJstX1-Q6FafpKQbi068prZOgiifVtGQ0pBmsJPGr17VsgGAabibjaV-JmPkXTFUEPoxm_jOeUbjpEDWBiQ7DfaDKB6T26nqz7pUkMgpE0kGoSdEY0obvNwrXNXdqUzLcmAp6OMH4aVDFwdJH9KaOaSTk9bJDlmS_cKe9_s1NsrFEPk66odQUVfJvsLPmmQ-87qvl4IshMUf2jK0ezLBCKJU97JzgHF4RiKpAiF9CZNkDpyF5oKCs2aoXamz6wf9hcAZLdIrolP0_Qy-fCG3XwXoym6Ye6bM8Yhn0cNTXeZH8LOA4UgxR6jnE5V9aRISihOd7S2PWGGMkzQ1TsStv_qimtf5QL5iOzZ1J1p6C9wan95HfSecE6O_NUmOI6p3YOCyXQNH9MA0Sk8Wnl2WuI=w144-h150-no">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>As the symbol of Chinese nation, dragon represents authority and good fortune. It has the fifth position among the Chinese zodiac animals. People born in the year of the Dragon are powerful, kind-hearted, successful, innovative, brave, healthy courageous and enterprising. However, they tend to be conceited, scrutinizing, tactless, quick-tempered and over-confident</p>
        </div>
        <div class="card-action">
          <a href="http://www.yourchineseastrology.com/horoscope/dragon/">Read More</a>
        </div>
      </div>
    </div>
  </div>
   <div class="col s12 m7">
    <h2 class="header">Snake</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lh3.googleusercontent.com/_VnKcrYkT75aJXo0AmxFRbe-xIFuU9ikLdqQ3nynLj_vM5t_XhW6o2Ouc2j0A7V3YQ4vtqmEP8pW8r1TX2U9hIvrK_7uOZaaGqKnRA5cNLd_7hpW4gbJussS5BUtpyH0wTXk73TVpOgnCzHxHQpgOIOz5G_LzTwGzEQDOCa-NWRv5cDHIQfPMQbL7oIDQuPDHjMcIoKkkko_VQ4IgSPKailRnkUK3aLN5orziahX4zNkbo1TAFdAM9BI_JRjOxODYF4Gn4kgwlPWu8Fz_VItVkKviQcmoqr4j-FhsFHReTNQZwFbE9l3pGsqywIIwdg-HlcUv5-ypoEbSsMBp_zA0HTe1KBNHRiEroa5zb5KrikSXixruY-qEP8N8cZK3on3Aqlpfy4wIzcxq9UJShKsklx-EOruko-6KBpnVgEscisZFg47G5ToZm9E2THokWQu17_xPNSMCfhhPvc9rpqIjCzDPTW-W569tr9ODcZccsk0JHanEj2RKJQV-op9PuimwAtJ4-TI8ZjLd1enWgO9Xi7owtaK4gGuRsNgOK03v_V-eCOL_3RtP0EQQmRlpulx7QRIUHQxEF0m8LhcI84-i-97PgKae0c=w137-h131-no">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Among the Chinese Zodiac animals, Snake has the sixth position. Snake is regarded to be pliable. Some of the positive characteristics of the people born in the year of the Snake are wise, discreet, agile, attractive and full of sympathy. On the other hand, there is a tendency for them to be lazy, greedy, arrogant and indulging in self-admiration.</p>
        </div>
        <div class="card-action">
          <a href="http://www.yourchineseastrology.com/horoscope/snake/">Read More</a>
        </div>
      </div>
    </div>
  </div>
   <div class="col s12 m7">
    <h2 class="header">Horse</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lh3.googleusercontent.com/4DvUWnqewddcbHZ__ddLcaSMLxDy6c3oazH146BsgE4p8Qsj1eFswOwR7-OwbT_vSqmGJHEv_EGISIZi1OGFysuLVmaMOsmW36JORkJea0U_BjnFUYnzjGxFCn1tL-PZp4bb4AXhNe8q_e_hkVLWQ8rKKy5d5ZAiPpvvMnBVeEklS9Irz0zdbqYA_SSHlZEAruMyRqGg91Rf6EDU5KrZXlfzj2qOqX1rxOuKnorJjXVzjx6FzmzMCFKVxMs2ZAvuMrW0RXN10hdWlnkbTLbUIVHrjnm3o9JmSj2CJjC3U9KPmE4lKFf2MxU-CNhQEpqO2b1o3tPGJToUAfpkc8NVIPrLj17F7S0wI-4Z_HiejyWoMwID4r9-ioDPsGYPqixan4QfoHDlaElx-9gsFZoYmNVv5ZLqpzo5S568iT-cxx8lEQrbpmI19GPp90axPYSyWgGy6tm7jSCAcV-Y5DZDoGt21dC1jV3SaKZS39hZOnV-auTY-q8PXAPwXiw7zIlWzb0K1piegWFiYjEfIoLXVV4B91DjdDqx8ttigWQ28O_OiZrxNS6amraHaAIP6M8HU5fRns_E_tdoKwhWDOSAvKRKSKV5gzE=w150-h132-no">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Horse has an indomitable spirit and is always moving toward a goal. It ranks the seventh in the Chinese Zodiac. People born under the sign of the Horse are clever, active, energetic, quick-witted, fashionable, agile, popular among others and have the ability to persuade others. On the other side, they might be some selfish, arrogant and over-confident.
</p>
        </div>
        <div class="card-action">
          <a href="http://www.yourchineseastrology.com/horoscope/horse/">Read More</a>
        </div>
      </div>
    </div>
  </div>
   <div class="col s12 m7">
    <h2 class="header">Goat</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lh3.googleusercontent.com/rg-cvBmrziqx0tY75EIVg7V2kCcXKjnk-Wb7L3-FZCuulRomMUYjxdkOf5AmTq_AZZWG6SjsFWFdfsy1wy6Fu4nQwpFKlv1m9xnXSCqxv_uvIcl1dEGrQYY4wWIa3xH0cIBvIIO1EjgA_IeLqqfQI3lTCL1OxV249ojLh661nzjqJyuLYRQ9S3fab5L4-G5qnf3ACGkIUFVbRPPWWMxa51qsEw5vxqkw6OIW06Fzh2HHbN56GycaWywB6Xb0HKIPYdqse_9r44lqUluQOP3SxfymsAGZdYbG4ZsYi2HwrQpDn0Tjy6D3hjNM6NiMHf9E7nZu79bKdtMfDo4egQfO-_yqBlu-jJjYBiU7M4jzKXRUKu-quKLaCKDEGMFRSKyhyoWlQd7A_duC8AErYVVtwqyXvTTLcMy_jGqnKJ4nDz9CgguTaUcantCvCUlTSnwanwCnBSX7c1WKYMLvcA2CeGBaxRgbbdh6m0gfeiATv5x_0WXdGzqxQlDNdr7GDE0pIJW8aKhQNZGBgtIKADst-M-oZqTZRDN4ip9LmHuRQkyaUp-m0DiV0azFYpDffhx5H2blsktZM5ITO857uPDa4M5FRyWmgWQ=w179-h140-no">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Ranking the eighth position of all the animals in Chinese zodiac, Sheep (also Goat or Ram) represents solidarity, harmony and calmness. People born in the year of the Sheep are polite, mild mannered, shy, imaginative, determined and have good taste. On the negative side, they are sometimes pessimistic, unrealistic, short-sighted and slow in behavior.</p>
        </div>
        <div class="card-action">
          <a href="http://www.yourchineseastrology.com/horoscope/sheep/">Read More</a>
        </div>
      </div>
    </div>
  </div>
   <div class="col s12 m7">
    <h2 class="header">Monkey</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lh3.googleusercontent.com/XwZlf6DUlq7-xa39qf3CBG2kNNytLZ3HZjENo50Zs510vdZaUF95Ftc39gR-1KWlVGeOUC4Ll1nMp5tDpeJUyc0DtuMYsP4Nxkd33yqJXOyRdGIgyPluh633xgRaHBCdJOnfFclkHtDadc7CmrIz-efEhp6Sd9XeORXkt6DOq2ouzNIaEr0M8D8cUzuEQZPPhKPXrQPBvxBYFotHrqFvH8BoaPlg8Fi4rMwnyDYY6MgLmYE5SmxgtQB5C2I6qKZpX-lR_o0RkxyMjBZrb-APnHC1NjQ9OL7W2uWJMd74BO7KRSIuQUeZ0cT2T-xV93RGYuhHWm-V71tRpP4jcgZwfN036Nfmpywj2R3YAhNeqNshdDzkBoTNaxlnrxiCPB6jWow3VcNFPEaT7mkQPKStkDPznw9akeUtuzYGFfiO78HE3e78_Vs6mPSHhaZJbu80UjzGuHvH5Kun-EWfN2ff-DpKB49j6PmnGrexsiCWuW__7MUFoOXcXXpfwYX_LyfT3w9CEMWOTOuVYWsQFjrOyLQrEM3qKDntq9hzBCUJquhtuT7wDO1pDQNdEIvqqYBcIr9lbZPkicLmNcUTqJvh8QeynxmbQ4c=w140-h135-no">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Monkey ranks ninth position in the Chinese Zodiac. They are cheerful and energetic by nature and usually represent flexibility. People under the sign of the Monkey are wise, intelligent, confident, charismatic, loyal, inventive and have leadership. The weaknesses of the Monkeys are being egotistical, arrogant, crafty, restless and snobbish.</p>
        </div>
        <div class="card-action">
          <a href="http://www.yourchineseastrology.com/horoscope/monkey/">Read More</a>
        </div>
      </div>
    </div>
  </div>
   <div class="col s12 m7">
    <h2 class="header">Rooster</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lh3.googleusercontent.com/zriJ9rfhzRSmlM7kLartQGp6dcf-s6PKr6fjVl2QAX7sstxgZa79uo49lmSCks8S8FUbrAx0CzUHlJ3lFa24h8l9WGb_QTKJZ3cIx6sn9tuD76_e1okXyDx-zc2lMPnhdw0HnwPVDdzfvZqQ9NCQSnMdjW7qjHvWgys7e4V98qntcyMXyjt5h4v3CXzuSPbQsajBykzo0CA_0-PNlAhk4ALxxo1UvuefvoLA5JBV8xshyn5vNbz890b2wsRu0h9K5gnSCHn9ohUW1RmNqF2Y6LSJGh3IfP5hr_CjkDcJTGtDT95x-bkAHey9d2jEp_hOOdClgYyHFqWB2dy6iCvDm60rh0xl4L8-wlB75e_zjkKXVjr3Q2XV6MynBWf58zPJVd1wvjFxLSE3sZPzPAC-v7lKt2wFcAOB8RYH0K9xs-efbfR9Ic2SCmboru-mh_9-o-7Cy7LMq83J2SRVAAZ9Yd_gN77Jh2CJg1tkG2DGrcaLwEvm4lY1ejISLAxir7qOiVI0YQNi2JMpceygU1Vl6rKL92G-eD3zGQLjUBHxkA_hdUt4WA9FMGwkYnkoj7bzbIjBxOaZbu6_KE5kGhv45QKhUOLjSck=w111-h154-no">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Rooster (or Chicken) ranks the tenth among the Chinese zodiac animals. In Chinese culture, Rooster represents fidelity and punctuality, for it wakes people up on time. People born in the year of the Rooster are beautiful, kind-hearted, hard-working, courageous, independent, humorous and honest. They like to keep home neat and organized. On the other side, they might be arrogant, self-aggrandizing, persuasive to others and wild as well as admire things or persons blindly.</p>
        </div>
        <div class="card-action">
          <a href="http://www.yourchineseastrology.com/horoscope/rooster/">Read More</a>
        </div>
      </div>
    </div>
  </div>
   <div class="col s12 m7">
    <h2 class="header">Dog</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lh3.googleusercontent.com/EoCQCkoJtFr6bHwRnhABedkabyxyEnJxJuKGIAz6XcRKxfH9-8P2IjfoUEcF6n3qo33zGso69AIqVZHlytqdlr67akBI-imDQiw-ZQa8SjEvun4Y1phsY-hQ7HPO-plMxgh70M17g_7W8ZY_oMlbVj2VSGY5D0bMjbLSxY_f3lpjE730Sms68KC6zxSvMJJvuVmI93z_xcfuoTAE3qSlJTwpWm250jK5X9CZnldlIRJ5jkKGQaxcbA7QHPlIUOhWYyPANPze5yPZqpun-1bVdu1Gs_0a_bExWC_GiBg_G534BWd69JiY1fkE4U7rbMRwoffLwMAMsMStRJBzCwqYRrfISLrlwrmApWnTb8etarBvroj2nmTXSG8yCxA0lxZ9ZrxTjhIo7telWn_XDGYhQuzOkOBrL0ygJjS1sqlNvXHJRGZ3UxNQBNmAtb-ScNU-1DGERUr4Z9YwHHrUKgdPjHZv4of4srZbrNyeW5VvsoPX1tB0AWXy0WkFogj11bWSuOjO_fCo_nOPVXRc8bQrhvi0RR_PVCZreiatwx6517Q0mCstcSZB7hpOZGB71grES8w-484askK5FXBrRqhZti2x8eBybYo=w147-h157-no">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Ranking as the eleventh animal in Chinese zodiac, Dog is the symbol of loyalty and honesty. People born in the Year of the Dog possess the best traits of human nature. They are honest, friendly, faithful, loyal, smart, straightforward, venerable and have a strong sense of responsibility. On the negative side, they are likely to be self-righteous, cold, terribly stubborn, slippery, critical of others and not good at social activities.
</p>
        </div>
        <div class="card-action">
          <a href="http://www.yourchineseastrology.com/horoscope/dog/">Read More</a>
        </div>
      </div>
    </div>
  </div>
   <div class="col s12 m7">
    <h2 class="header">Pig</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lh3.googleusercontent.com/py6D3OEV0bML53sk8KeVghncJnLjadWuNggGFOvmYBNvZ4wk0kQVByFHyTSy9tj5I9xrBSE99nLQDAOftMmIbQyT9XTyyyOX6iqTQ_gmZhZ12PMQqDg2BySQFJLKQaJubm3ULqAFnumkBslQaIAg056-Sqn1eOVCU5bgyesfShVVxnwqk_Xx5-Lg5oMUwH4sMXB1qXysPQ6PELMCNMu-o4Y7-K33amlhMo59Nkpq7wgbTPA8vpSMlC4-GeAZuCGcMI5I99-DXLs72eBGQJ6xxhJHnHqYW6Zzh2ETOJRWTlseqFrTOMICkNAN27B0XlBgn5Ibhx9PG3Qe2sOpBYLpexRbAO7W7t1HkypQ-nYjClCJHZ7lAhUZU2lvV-HisxlA6gthoIFledDX5VxUkCd1UkDqW_xI9MXplSReJn4ZojzI2jUQh4ZS40XF8txUe1v1DfcQILZHZDf_cNg-M7M2iFx4MKUDSTdLVex9N8ipFnDK7MXbB7i6XMYRar_VJReJRv9DVpjYUhU_ehGuL7FfpPnmuv0LEhWIZ6hgFJZrYXbKhv15WMIjpP8ORQBQLlDA7FhzR6nCCPvq7L8b_XP2hCfz8uG4S8g=w142-h151-no">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Occupying the last position in 12 Chinese Zodiac animals, Pig is mild and a lucky animal representing carefree fun, good fortune and wealth. Personality traits of the people born under the sign of the Pig are happy, easygoing, honest, trusting, educated, sincere and brave. The possible dark sides the Pig people are stubbornness, naive, over-reliant, self-indulgent, easy to anger and materialistic. They are sometimes regarded as being lazy.</p>
        </div>
        <div class="card-action">
          <a href="http://www.yourchineseastrology.com/horoscope/pig/">Read More</a>
        </div>
      </div>
    </div>
  </div>
        
</div>



  </body>
  </head>
</html>