<!doctype html>
<html>
  <head>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/materialize.min.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery.js" type="text/javascript"></script>
    <script src="../js/materialize.min.js" type="text/javascript"></script>  
    <script src="../js/script.js" type="text/javascript"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper indigo darken-1">
        <a href="#" class="brand-logo">Fengshui Yo' Life!</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="navlist">Welcome {{name}}!</li>
          <li class="navlist"><a href="faq.html">FAQ</a></li>
          <li class="navlist"> <a href="/sessions/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
     <div class="row inputbox">
        <form class="col s12 push-s1">
          <div class="row">
            <div class="input-field col ">
              <input id="day" class="validate">
              <label for="day"></label>
            </div>
            <div class="input-field col ">
              <input placeholder="month" id="month" value="month" class="validate">
              <label for="month"></label>
            </div>
            <div class="input-field col ">
              <input placeholder="year" id="year"  value="year" class="validate">
              <label for="year"></label>
            </div>
            <div class="input-field col ">
              <button id="submit_btn"class="btn waves-effect col  indigo" type="button" name="action">Submit
              </button>
            </div>
          </div>
        </form>
      </div>
      <div id="results" class="container">
        <h1>Results<h1>
        <form id='save_results' data-id="{{id}}">
           <div class="row fengshui-item">
              <h4>My Chinese Year Sign</h4>
              <div id="year_wrapper">
                <input name="year_sign" id="year_sign" value="{{year_sign}}">
              </div>
          </div>
          <div class="row fengshui-item">
              <h4>My Chinese Month Sign</h4>
              <div id="month_wrapper">
                <input name="month_sign" id="month_sign" value="{{month_sign}}">
              </div>
          </div>
          <div class="row fengshui-item">
            <h4>My Allies</h4>
            <div id="friend_wrapper">
              <input name="friend" id="friend" value="{{friend}}">
            </div>
          </div>
            <div class="row fengshui-item">
              <h4>My Peach Blossom Animal</h4>
              <div id="peach_wrapper">
                <input name="peach" id="peach" value="{{peach}}">
              </div>
          </div>
          <button id="save_btn" type="submit">Save</button>
        </form>
      </div>
    </div> <!-- container -->
    <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
  </body>
</html>


