<!doctype html>
<html>
  <head>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/materialize.min.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery.js" type="text/javascript"></script>
    <script src="../js/materialize.min.js" type="text/javascript"></script>  
    <script src="../js/script.js" type="text/javascript"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper indigo darken-1">
        <a href="#" class="brand-logo">Fengshui Yo' Life!</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="navlist">Welcome {{name}}!</li>
          <li class="navlist"><a href="faq.html">FAQ</a></li>
          <li class="navlist"> <a href="/sessions/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
     <div class="row inputbox">
        <form class="col s12 push-s1">
          <div class="row">
            <div class="input-field col ">
              <select>
                <option value="" disabled selected>Gender</option>
                <option value="1">Female</option>
                <option value="2">Male</option>
              </select>
              <label for"gender"></label>
            </div>
            <div class="input-field col ">
              <input placeholder="day" id="day" type="text" class="validate">
              <label for="day"></label>
            </div>
            <div class="input-field col ">
              <input placeholder="month" id="month" type="text" class="validate">
              <label for="month"></label>
            </div>
            <div class="input-field col ">
              <input placeholder="year" id="year" type="text" class="validate">
              <label for="year"></label>
            </div>
            <div class="input-field col ">
              <button id="submit_btn"class="btn waves-effect col  indigo" type="submit" name="action">Submit
              </button>
            </div>
            <div id="save_btn" class="input-field col ">
              <button class="btn waves-effect col  indigo" type="submit" name="action">Save
              </button>
            </div>
          </div>
        </form>
      </div> 
      <div class="container cardresults">
        <div class="row">
        <div class="row rtwo">
          <div class="col s12 m4">
            <div class="card-panel small indigo">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
              </span>
            </div>
          </div>
           <div class="col s12 m4">
            <div class="card-panel small indigo">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
              </span>
            </div>
          </div>
           <div class="col s12 m4">
            <div class="card-panel small indigo">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
              </span>
            </div>
          </div>
           <div class="col s12 m4">
            <div class="card-panel small indigo">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
              </span>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel small indigo">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
              </span>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel small indigo">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
              </span>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel small indigo">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
              </span>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel small indigo">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
              </span>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card-panel small indigo">
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
              </span>
            </div>
          </div>
        </div> <!-- row -->
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- container -->
  </body>
</html>
