.main-container {
  width: 980px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}
/* VIEWS/INDEX PAGE */
nav .brand-logo {
	left: 4%;
}
.navlist {
	padding-right: 20px;
}
.card-panel {
	width: 250px;
	height: 250px;
}

.row .col.m4 { 
 	width: 33.333333%;    
}

.rtwo {    
	margin-top: 5%;
}

.row .col.s6 {
	width: 15%;
}

.styl_input {
  font-size: 50px;
  text-align: center;

}

.center-block { float: none }

#save_results {
  display: inline-flex;
}

  /* label color */
.input-field label {
     color: #000;
   }
   /* label focus color */
.input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
.input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
.input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
.input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
.input-field .prefix.active {
     color: #000;
   }


.fengshui-item {
  color: black;
  text-align: center;
  font-size: 36px;
}

.styl_input {
  color: black;
  text-align: center;
  font-size: 36px;

}
#save_btn {
  font-size: 20px;
  text-align: center;
  color: black;
}

/* user login */
.newbg{
    background-image: url("http://goldengreatwallmapleglen.com/img/greatwallbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



/*.fengshui-item i {
    font-size: 4em !important;
    color: #888 !important;
  }*/