<!doctype html>
<html>
  <head>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/materialize.min.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery.js" type="text/javascript"></script>
    <script src="../js/materialize.min.js" type="text/javascript"></script>  
    <script src="../js/script.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
        <div class="title card indigo darken-4">
          <h1 class="white-text">Fengshui Yo Life!</h1>
        </div>
        <h3>Signup Page</h3>
        <div class="col-12">
          <div id="error"> 
            {{#error}}
            <div class="alert alert-dismissible alert-danger">
              <strong>Uh Oh!<strong> {{error}}
            </div>
            {{/error}}
          </div>
          <div class="row ">
            <form class="col s12"action="/users/create" method="post">
              <div class="row">
                <div class="input-field col s6">
                  <input id="first_name" placeholder="Name" type="text" class="validate">
                  <label for="first_name"></label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email">
                  </div>
                  <label for="inputEmail"></label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                  <label for="password"></label>
                </div>
              </div>
              <div class="button">
               <button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">Join!
               </button>
              </div>
            </form>
          </div>
        </div> <!-- col-6 -->
    </div><!-- container -->
  </body>
</html>





